# 1.Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.
Tasks To Be Performed:
1. Input the values of a and b as 10 and 20 respectively. Now check if a is
greater or b is greater using if condition. Think about all the edge cases,
and print the statements accordingly

In [2]:
a,b=10,20
if(a>b):
    print(a,"is greater than",b)
elif b > a:
    print(b,"is greater than",a)
else:
    print("a and b are equal")

20 is greater than 10

# 2.Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.
Tasks To Be Performed:
1. Take three user inputs and print the greatest number from those inputs
using if-else condition. Edge cases, if any, should also be handled

##### a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("Enter third number"))
if(a>b and a>c):
     print(a,"is greater")
elif(b>a and b>c):
     print(b,"is greater")
elif(c>a and c>b):
     print(c,"is greater")
else:
     print("all are equal")

# 3.Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
Tasks To Be Performed:
1. Print the numbers from 1 to 10 using while loop

In [6]:
n=1
while(n<=10):
    print(n,end=" ")
    n=n+1

1 2 3 4 5 6 7 8 9 10

# 4.Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
Tasks To Be Performed:
1. Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help
of while loop fetch the even numbers and print the number

In [8]:
lis=[10, 23, 4, 26, 4, 75, 24, 54]
i=0
a=len(lis)
while(a>i):
    if(lis[i]%2==0):
        print(lis[i],end=" ")
    i+=1

10 4 26 4 24 54

# 5.Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
Tasks To Be Performed:
1. Create an array that has user defined inputs and with the help of for loop,
fetch all the prime numbers and print the numbers

In [10]:
arr=[]
n=int(input("enter no of elments"))
for i in range(n):
    x=int(input("enter elments"))
    arr.append(x)
print('ARRAY IS: ',arr)
print('PRIME NO IN ARRAY IS: ')
c=True
for j in arr:
    if j <= 1:
        continue
    for k in range(2,int(j**0.5)+1):
        if(j%k==0):
            c=False
            break
    if(c):
         print(j,'prime')

enter no of elments 5
enter elments 4
enter elments 9
enter elments 7
enter elments 4
enter elments 2

ARRAY IS:  [4, 9, 7, 4, 2]
PRIME NO IN ARRAY IS:

# **case study 1**
Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
Tasks To Be Performed:
1. Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension).
2. Write a function to check if the year number is a leap year.
3. Write a function to take an array and return another array that contains the
members of the first array that are even.
4. Write a function that takes 2 arrays and prints the members of the first
array that are present in the second array. (HINT: use Membership
Comprehension)

In [12]:
lis=[]
n=10
for i in range (1,11):
    a=i**2
    lis.append(a)
print('list containing squares of numbers from 1 to 10',lis)

list containing squares of numbers from 1 to 10 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
def is_leap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(year,"is leap year")
    else:
        print("not a leap year")
n=int(input("enter year to check if its a leap year"))
if len(str(n)) != 4:
    print("Please enter a valid 4-digit year.")
else:    
    is_leap(n)

enter year to check if its a leap year 2028

2028 is leap year

In [14]:
arr=[]
n=int(input("enter length of array"))
for i in range (n):
    a=int(input("enter element to be inserted"))
    arr.append(a)
print('Array',arr) 
n_arr=[]
for i in arr:
    if(i%2==0):
        n_arr.append(i)
    else:
        continue
print('New array with even no present in first arr',n_arr)

enter length of array 5
enter element to be inserted 2
enter element to be inserted 8
enter element to be inserted 6
enter element to be inserted 4
enter element to be inserted 99

Array [2, 8, 6, 4, 99]
New array with even no present in first arr [2, 8, 6, 4]

In [ ]:
def common_elements(arr1, arr2):
    common = [x for x in arr1 if x in arr2]
    print("Common elements:", common)
arr1=[]
n=int(input("enter length of both array"))
for i in range (n):
    a=int(input("enter element to be inserted"))
    arr1.append(a)
print('Array1',arr1) 
arr2=[]
for j in range (n):
    b=int(input("enter element to be inserted"))
    arr2.append(b)
print('Array2',arr2)
common_elements(arr1, arr2)

enter length of both array 4
enter element to be inserted 5
enter element to be inserted 9
enter element to be inserted 7
enter element to be inserted 0

Array1 [5, 9, 7, 0]

# **case study 1**
Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
Tasks To Be Performed:
1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1, 2, 3
b. Second element is a tuple with values “a”, “b”, “c”
c. Third element is a tuple wwith values True, False
3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
a. Append a new list – *“sparta”, 123+ to my_list
4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [ ]:
t1=(10, 20, 30)
t2=(40,50, 60)
#a
t_combine = t1 + t2
print("Concatenated tuple:", t_combine)
#b
print('Repeat the elements of t_combine 3 times',t_combine*3)
#c - Access the 3rd element from t_combine
third_element = t_combine[2]
print("3rd element:", third_element)
#d Access the first three elements from t_combine
first_three_elements = t_combine[:3]
print("First three elements:", first_three_elements)
#e Access the last three elements from t_combine
last_three_elements = t_combine[-3:]
print("Last three elements:", last_three_elements)

In [ ]:
#a,b,c
my_list=[(1,2,3),('a','b','c'),(True,False)]
print(my_list)
#3 Append a new tuple to my_list
my_list.append((1, 'a', True))
print("Updated my_list with a tuple", my_list)
#Append a new list to my_list
my_list.append(["sparta", 123])
print("Updated my_list with a list", my_list)

In [ ]:
#4
fruit={"fruit":("Apple", "Banana", "Mango", "Guava"),
    "Cost": (85, 54, 120, 70)}
print("Fruit dictionary:", fruit)
# Extract all the keys from fruit
k= fruit.keys()
print("Keys:", k)
# Extract all the values from fruit
v= fruit.values()
print("Values:",v)

In [ ]:
# 5 Create a set with duplicates
my_set = {1, 1, "a", "a", True,True}
print("Set without duplicate:", my_set)