In [5]:
x=10
if(x>5):
    print("x greater than 5")
    if(x>10):
        print("saks")
    else:
        print("srv")

x greater than 5
srv

In [7]:
x=10
if(x>5):
    print("x greater than 5")
if(x>10):
        print("saks")
    #else:
print("srv")

x greater than 5

In [11]:
x=10
if(x>15):
    print("x greater than 5")
if(x>10):
        print("saks")
    #else:
print("srv")

srv

# Appending, Extending, slicing,sorting,reversing,removing

In [16]:
cart=["apple","banana"]
cart.append("orange")
print("appended",cart)
cart.extend(["pineapple","kiwi"])
print("extended",cart)
print(sorted(cart))
cart.remove("kiwi")
print("cart without kiwi:",cart)

appended ['apple', 'banana', 'orange']
extended ['apple', 'banana', 'orange', 'pineapple', 'kiwi']
['apple', 'banana', 'kiwi', 'orange', 'pineapple']
cart without kiwi: ['apple', 'banana', 'orange', 'pineapple']

In [16]:
numbers=[4,8,9,55,0,984]
a=sorted(numbers)
print("sorted",a)

sorted [0, 4, 8, 9, 55, 984]

In [21]:
x=numbers.reverse()
print(x)

In [23]:
transaction=[100,400,600,300,900]
transaction[-3:]

[600, 300, 900]

*filtering*

In [90]:
transaction=[100,400,600,300,900]
high_val=[t for t in transaction if t>300]
high_val

[400, 600, 900]

*mapping*

In [95]:
transaction=[100,400,600,300,900]
h=list(map(lambda x:x*0.9,transaction))
h

[90.0, 360.0, 540.0, 270.0, 810.0]

In [24]:
SETS={100,400,600,300,900}
print("original sets",SETS)
SETS.add(987)
print("modified sets",SETS)
SETS

original sets {400, 100, 900, 600, 300}
modified sets {400, 100, 900, 600, 987, 300}

{100, 300, 400, 600, 900, 987}

In [28]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}
print("union",set1|set2)
print("intersection",set1&set2)
print("difference",set1|set2)

union {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection {5}
difference {1, 2, 3, 4, 5, 6, 7, 8, 9}

**DICTIONARY**

In [31]:
sales={"jan":20000,"feb":60000}
print("original dict",sales)
sales["mar"]=50000
print("updatefddict",sales)
getsales=sales.get('feb',0)

In [30]:
sales={"jan":20000,"feb":60000}
for m,r in sales.items():
    print(f'{m}: ${r}')

jan: $20000
feb: $60000

In [46]:
sales={"jan":20000,"feb":60000}
print("all keys",sales.keys())
print("all value",sales.values())
print('key-val pair',sales.items())

all keys dict_keys(['jan', 'feb'])
all value dict_values([20000, 60000])
key-val pair dict_items([('jan', 20000), ('feb', 60000)])

In [39]:
prices=[10,20,30]
discount=list(map(lambda x:x*0.9,prices))
discount

[9.0, 18.0, 27.0]

# REGULAR EXPRESSION

In [36]:
import re
em=re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9._%+-]\b',"sakshi@gmail.com")
em

[]

# FUNCTION

In [54]:
def greet(name):
    return f'Hello!{name}'
name=input('enter name')
greet(name)

enter name sakshi

'Hello!sakshi'

In [58]:
def add_num(*args):
    return sum(args)
print('result1',add_num(1,2))
print('result2',add_num(11,52,98))
print('result3',add_num(19,28,90))

result1 3
result2 161
result3 137

In [62]:
def add_num(*args):
    return sum(args)
print('result1',add_num(1,2))
print('result2',add_num(11,52,98))
print('result3',add_num(19,28,90))

result1 3
result2 161
result3 137

In [66]:

def fun(*args):
    return sum(args)

print(fun(1, 2, 3, 4)) 
print(fun(5, 10, 15))   

def fun(**kwargs):
    for k, val in kwargs.items():
        print(k, val)

fun(a=1, b=2, c=3)

10
30
a 1
b 2
c 3

In [70]:
def get_stats(num):
    return min(num),max(num),sum(num)/len(num)
print(get_stats([90,78,65,45,44]))

(44, 90, 64.4)

# LAMBDA

In [81]:
a=lambda x:x*x
print(a(5))

25

In [79]:
num=[10,20,30,40,50]
sq=list(map(lambda x:x*x,num))
sq

[100, 400, 900, 1600, 2500]

# EXCEPTION HANDLING

In [86]:
try:
    numerator = 10
    denominator = 0

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")

Error: Denominator cannot be 0.