# Problem Statement: You work in XYZ Corporation as a Data Analyst. Your corporation has told you to work with statistics.
**Tasks To Be Performed:**
1. Create a table in excel, table should have 2 columns named x and y:<br>
a. ‘x’ column should have numbers from 1-5<br>
b. ‘y’ should have numbers 2, 4, 5, 4, 2<br>
c. Now calculate the mean of columns x and y<br>
d. Calculate the mode of column x<br>
e. Calculate the standard deviation of column y<br>
f. At last calculate the range of columns x and y separately.<br>

In [24]:
import pandas as pd
import statistics as sts
import numpy as np
import warnings
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')
data=pd.read_excel(r"C:\Users\hp\Desktop\ml\stats_assignment.xlsx")

In [26]:
df=pd.DataFrame(data)

In [32]:
a=df.mean()
a

X    3.0
Y    3.4
dtype: float64

In [34]:
b=df.median()
b

X    3.0
Y    4.0
dtype: float64

In [60]:
c=df.mode()
c

   X    Y
0  1  2.0
1  2  4.0
2  3  NaN
3  4  NaN
4  5  NaN

In [40]:
import statistics as stats
x = [1, 2, 3, 4, 5]
y = [2, 4, 5, 4, 2]
meanx = stats.mean(x)
meany = stats.mean(y)

modex = stats.mode(x)

stdy = stats.stdev(y)
rangex = max(x) - min(x)

print(f"Mean of x: {meanx}")
print(f"Mean of y: {meany}")
print(f"Mode of x: {modex}")
print(f"Standard Deviation of y: {stdy}")
print(f"Range of x: {rangex}")

Mean of x: 3
Mean of y: 3.4
Mode of x: 1
Standard Deviation of y: 1.3416407864998738
Range of x: 4