# Problem Statement:

**You work in XYZ Company as a Python developer. The company officials want
you to build a Python program.<br> Tasks To Be Performed:<br>**
**1. Write a function that takes start and end of a range returns a pandas series object containing numbers within that range.<br>In case the user does not pass start or end or both they should default to 1 and 10 respectively. E.g<br>-> range_series() -> Should Return a pandas series from 1 to 10<br>range_series(5) -> Should Return a pandas series from 5 to 10 range_series(5, 10)<br> -> Should Return a pandas series from 5 to 15<br>Create a method that takes n NumPy arrays of the same dimensions, sums them and returns the answer.**

In [49]:
import pandas as pd
def range_series(start=1,end=10):
    return pd.Series(range(start, end+1))
print("Range Series (Default):\n")
print(range_series())

print("\nRange Series (5 to 10):\n")
print(range_series(5, 10))

print("\nRange Series (5):")
print(range_series(5))

Range Series (Default):

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Range Series (5 to 10):

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

Range Series (5):
0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

**2. Create a function that takes in two lists named keys and values as arguments<br>
Keys would be strings and contain n string values<br>
Values would be a list containing n lists<br>
The methods should return a new pandas DataFrame with keys as column
names and values as their corresponding values, e.g:<br>
->create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a
data frame<br><br>
One Two<br>
0 X A<br>
1 Y B<br>**

In [52]:
def create_dataframe(keys,values):
    return pd.DataFrame(values, columns=keys)
k=["One", "Two"]
v=[["X", "A"], ["Y", "B"]]
df=create_dataframe(k,v)
print(df)

  One Two
0   X   A
1   Y   B

**3. Create a function that concatenates two DataFrames. Use a previously
created function to create two DataFrames and pass them as parameters
Make sure that the indexes are reset before returning.**

In [55]:
def concat_df(df1, df2):
    result = pd.concat([df1, df2], ignore_index=True)
    return result 
print("\nConcatenated DataFrame:")
df2 = create_dataframe(["One", "Two"], [["P", "Q"], ["R", "S"]])
concatenated = concat_df(df, df2)
print(concatenated)

Concatenated DataFrame:
  One Two
0   X   A
1   Y   B
2   P   Q
3   R   S

**4. Write code to load data from cars.csv into a dataframe and print its details.
Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.**

In [58]:
import pandas as pd
df=pd.read_csv(r"C:\Users\hp\Downloads\cars.csv")
df.describe()

,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

**5. Write a method that will take a column name as argument and return the
name of the column with which the given column has the highest
correlation.<br>
The data to be used is the cars dataset.<br>
The returned value should not the column named that was passed as the
parameters, e.g. : get_max_correlated_column('mpg') -> should return 'drat'**

In [63]:
import pandas as pd
df=pd.read_csv(r"C:\Users\hp\Downloads\cars.csv")
def get_max_correlated_column(df, column_name):
    correlation_matrix = df.corr(numeric_only=True)
    correlation_with_column = correlation_matrix[column_name]
    correlation_with_column = correlation_with_column.drop(column_name)
    max_corr_column = correlation_with_column.idxmax()
    return max_corr_column
correlated_column = get_max_correlated_column(df, 'mpg')
print(f"The column most highly correlated with 'mpg' is: {correlated_column}")

The column most highly correlated with 'mpg' is: drat